@model List<Abarrotes.Web.Models.Producto>
@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>
 <table>
     <thead>
         <tr>
             <th>ID</th>
             <th>ID</th>
         </tr>         
     </thead>
     <tbody>
          @foreach (var item in Model)
          {
         <tr>
             <td>@item.Id</td>
             <td>@item.Nombre</td>
         </tr>
          }
     </tbody>
 </table>

